<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mx-auto">
        <a class="navbar-brand" href="#">Contact Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <router-link to="/">
                        <a class="nav-link">Home</a>
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/Contact/Create">
                        <a class="nav-link">Create Contact</a>
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/manage/tags">
                        <a class="nav-link">Manage Tags</a>
                    </router-link>
                </li>
            </ul>
        </div>
    </nav>
</template>


<script>
export default {
    name:"app-header"
}
</script>
