﻿<template>
    <div>
        <div class="clearfix">
            <h2 class="card-title mb-4 float-left d-inline-block w-70">Edit Contact </h2>
            <button type="button" class="btn btn-danger float-left" @click="deleteContact">Delete contact</button>
        </div>

        <contact-form v-if="dataLoaded" v-model="contact" :onSubmit="updateContact"></contact-form>
    </div>
</template>

<script>
    import ContactForm from '@/components/ContactForm'
    import ContactService from '@/services/ContactService'

    export default {
        name: 'ContactEdit',
        components: {
            ContactForm
        },
        data() {
            return {
                dataLoaded:false,
                contact: null
            }
        },
        created() {
            var id = this.$route.params.id;
            this.fetchContact(id);
        },
        methods: {
            deleteContact() {
                let id = this.$route.params.id;
                this.$dialog.confirm('Are you sure yuo want to delete this contact')
                    .then(dialog =>  ContactService.deleteContact(id))
                    .then(res => this.$router.push({ path: '/'}))
                    .catch(err => console.log(err));
            },
            updateContact() {
                ContactService.updateContact(this.contact)
                    .then(res => {
                        this.$dialog.alert('Contact was successfully updated',
                            {
                                backdropClose: true
                            }
                        );
                    })
                    .then(d => this.$router.push({ path: '/' }))
                    .catch(err => console.log(err));
            },
            fetchContact(id) {
                ContactService.getContact(id)
                    .then(res => {
                        this.contact = res.data;
                        this.dataLoaded = true;
                    })
                    .catch(err => {
                        console.log(err);
                    });;
            }
        }
    }
</script>

