<template>
    <form @submit.prevent="validate">
        <div class="clearfix">
            <div class="form-row w-40 float-left">
                <label for="firstName">First Name</label>
                <input v-validate="'required'" data-vv-as="First name"
                       :class="{ hasError: errors.has('firstName')}"
                       type="text" class="form-control" id="firstName" name="firstName"
                       v-model="contact.firstName"
                       placeholder="Enter first name">
                <span v-if="errors.has('firstName')" class="alert-danger">
                    {{ errors.first('firstName') }}
                </span>

            </div>
            <div class="form-row w-40 float-left">
                <label for="lastName">Last Name</label>
                <input v-validate="'required'" data-vv-as="Last Name"
                       :class="{ hasError: this.errors.has('lastName')}" name="lastName"
                       type="text" class="form-control" id="lastName" v-model="contact.lastName" placeholder="Enter last name">
                <span v-if="errors.has('lastName')" class="alert-danger">
                    {{ errors.first('lastName') }}
                </span>
            </div>
        </div>
        <div class="clearfix">
            <div class="form-row w-40 float-left">
                <div>
                    <label>Phone Numbers</label>
                </div>
                <PhoneNumberList @phonesValid="setPhonesValid" :contactId="contact.contactId" v-model=contact.phoneNumbers></PhoneNumberList>
            </div>

            <div class="form-row w-40 float-left">
                <div>
                    <label>Emails</label>
                </div>
                <EmailAddresses @emailsValid="setEmailsValid" :contactId="contact.contactId" v-model=contact.emailAddresses></EmailAddresses>
            </div>
        </div>

        <div class="clearfix">
            <div class="form-row w-40 float-left">
                <label for="lastName">Address</label>
                <input type="text" class="form-control" id="address" v-model="contact.address" placeholder="Enter address">
            </div>
            <div class="form-row w-40 float-left">
                <label for="lastName">Skype username</label>
                <input type="text" class="form-control" id="skypeName" v-model="contact.skypeName" placeholder="Enter skype name">
            </div>
        </div>
        <div class="form-row w-40">
            <label for="contact-tag">Select Tag</label>
            <select v-model="contact.tagId" class="form-control" id="contact-tag">
                <option value="0" selected=selected></option>
                <option v-for="tag in tags" :value="tag.tagId" :key="tag.tagId">
                    {{tag.name}}
                </option>
            </select>
        </div>
        <div>
            <div class="mb-4">
                <input name="hasNumberOrEmail" v-validate:hasNumberOrEmail="'required'"
                      class="d-none" />
                <span v-if="errors.has('hasNumberOrEmail')" class="alert-danger">
                    {{ errors.first('hasNumberOrEmail') }}
                </span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</template>

<script>
import TagService from '@/services/TagService'
import PhoneNumberList from '@/components/PhoneNumberList'
    import EmailAddresses from '@/components/EmailAddresses'
    import { Validator } from 'vee-validate';
import { fail } from 'assert';

    export default {
        name: 'contact-form',
        data() {
            return {
                contact: this.value,
                tags: new Array(),
                phonesValid: true,
                emailsValid: true
            }
        },
        props: {
            value: {
                type: Object,
                required: true
            },
            onSubmit: {
                type: Function
            }
        },
        watch: {
            contact() {
                this.$emit('input',this.contact)
            }
        },
        computed: {
            hasNumberOrEmail() {
                return (this.contact.emailAddresses.length > 0 ||
                        this.contact.phoneNumbers.length > 0) &&
                        this.phonesValid && this.emailsValid ?
                       'valid' : null;          
            }
        },
        methods: {
            setPhonesValid(isValid) {
                this.phonesValid = isValid;
            },
            setEmailsValid(isValid) {
                this.emailsValid = isValid;
            },
            validate() {              
                this.$validator.validateAll()
                    .then(valid => {
                        if (valid) {
                            this.onSubmit();
                        }
                    })
            }
        },
        components:{
            PhoneNumberList, EmailAddresses     
        },
        created() {
            const dict = {
                custom: {
                    hasNumberOrEmail: {
                        required: 'At least one phone number or address is required and all must be valid'
                    }
                }
            };
            Validator.localize('en', dict);

            TagService.getTags()
                .then(res => this.tags = res.data);
        }
}
</script>
