﻿<template>
    <div>
        <div class="text-center text-sm-left list-group-item w-50 mb-2"
             v-for="contact in contacts" :key="contact.contactId"
             >
            <span class="fa fa-mobile fa-2x text-success float-right pulse"></span>
            <router-link :to="{ name:'ContactEdit', params: { id: contact.contactId}}" class="name">
            {{contact.firstName}} {{contact.lastName}}</router-link>
            <router-link 
                        :to="{ name:'TagContacts', params: { tagName : contact.tag.name}}"
                         v-if="showTag && contact.tag"
                         class="float-right">
                <button type="button" class="ml-5 btn btn-success btn-sm">{{contact.tag.name}}</button>
            </router-link>
        
            <br>            
            <span class="text-muted">{{contact.address}}</span>
            <br>
            <span class="text-muted small"
                 v-for="num in contact.phoneNumbers">
                  {{num.number}} |
            </span>
            <br>            
            <span class="text-muted small text-truncate"
                  v-for="email in contact.emailAddresses">
                {{email.email}} |
            </span>
        </div>
    </div>


</template>

<script>
    import ContactService from '@/services/ContactService'

    export default {
        name: 'contact-list',
        props: {
            showTag: {
                type: Boolean,
                default: true
            },
            contacts: {
                type:Array
            }
        }
    }

</script>