﻿<template>
    <div>
        <h2 class="card-title mb-4">Create New Contact </h2>
        <contact-form v-model="contact" :onSubmit="addContact"></contact-form>
    </div>
</template>

<script>
    import ContactForm from '@/components/ContactForm'
    import ContactService from '@/services/ContactService'

    export default {
        name: 'ContactCreate',
        components: {
            ContactForm
        },
        data() {
            return {
                contact: {}
            }
        },
        created() {
           this.initContact();
        },
        methods: {
            addContact() {
                let validator = this.$validator;
                let valid = validator.validate();
                if (valid) {
                    ContactService.addContact(this.contact)
                        .then(res => {
                            this.$router.push({ path: '/' });
                        }).
                        catch(err => {
                            console.log(err);
                        });
                }
            },
            initContact() {
                this.contact = {
                    contactId:0,
                    firstName: '',
                    lastName: '',
                    address: '',
                    skypeName: '',
                    tagId: null,
                    phoneNumbers: [
                    ],
                    emailAddresses: [
                    ]
                }
            }}
    }
</script>

