﻿<template>
    <div>
        <div v-for="(email,idx) in emails"
             :key="idx"
             class="mt-2">
            <input @change="emitValidity('email'+idx)" type="text" class="form-control  d-inline-block mb-2 w-75"
                   :id="'email'+idx"
                   :name="'email'+idx"
                   v-model="emails[idx].email"
                   placeholder="Enter email"
                   v-validate="'required|email'" data-vv-as="Email"
                   :class="{hasError: errors.has('email'+idx)}" />

            <button type="button" @click="removeEmail(idx)" class="btn btn-danger btn-sm ml-3">Remove</button>
            <span class="alert-danger" v-if="errors.has('email'+idx)">
                {{errors.first('email'+idx)}}
            </span>
        </div>
        <div class="mt-2">
            <button type="button" class="btn btn-primary" @click="addEmail"> Add Another</button>
        </div>
    </div>
</template>



<script>
    import ContactService from '@/services/ContactService'

    export default {


    name:'EmailAddresses',
    props:{
        value:{
            type:Array,
            required:true
        },
        contactId:Number
    },
    watch:{
        emails(){
            this.$emit('input', this.emails);
        }
    },
    data(){
        return{
            emails:this.value
        }
    },
        methods: {
            emitValidity(name) {
                if (this.errors.has(name))
                    this.$emit('emailsValid', false);
                else
                    this.$emit('emailsValid', true);
            },
            addEmail() {
                this.$validator.validateAll()
                    .then(valid => {
                        if (valid) {
                            this.emails.push({
                                id:0,
                                contactId: this.contactId,
                                email: ""
                            });
                            this.$emit('emailsValid', false);
                        }
                    });

        },
        removeEmail(idx) {
            var emailId = this.emails[idx].id;
            if (emailId!= 0) {
                ContactService.deleteEmailForContact(this.contactId, emailId)
                    .then(res => {
                        this.emails.splice(idx, 1);
                        this.$dialog.alert('Email was successfully removed',
                            {
                                backdropClose: true
                            }
                        );
                    })
                    .catch(err => console.log(err));
            } else {
                this.emails.splice(idx, 1);
                this.$emit('emailsValid', true);
            }

        }
    }
}
</script>
