﻿<template>
    <div>
        <h2 class="card-title"> Contact list </h2>
        <div class="input-group md-form form-sm form-1 pl-0 mb-5 mt-5">
            <div class="input-group-prepend">
                <span class="input-group-text">
                </span>
            </div>
            <form @submit.prevent="submitSearch">
                <input class="form-control my-0 py-1" type="text" v-model="query" placeholder="Search" aria-label="Search">
            </form>


        </div>
        <contact-list :contacts="contacts"></contact-list>
    </div>
</template>

<script>
    import ContactList from '@/components/ContactList'
    import ContactService from '@/services/ContactService'

    export default {
        name: 'home',
        data() {
            return {
                query: "",
                contacts:null

            }
        },
        created() {
            this.fetchAll()
        },
        methods: {
            submitSearch() {
                if (this.query)
                    this.fetchSearchResult()
                else
                    this.fetchAll();
            },
            fetchSearchResult() {
                ContactService.searchContacts(this.query)
                    .then(res => {
                        this.contacts = res.data;
                        console.log(res.data);
                    })
                    .catch(err => {
                        console.log(err);
                    });;
            },
            fetchAll() {
                ContactService.getContacts()
                    .then(res => {
                        this.contacts = res.data;
                        console.log(res.data);
                    })
                    .catch(err => {
                        console.log(err);
                    });
            }
        },
        components: {
            ContactList}
    }
</script>

