﻿<template>
    <div>
        <div v-for="(num,idx) in numbers"
             :key="idx"
             class="mt-2">
            <input @change="emitValidity('phone'+idx)" type="text" class="form-control d-inline-block mb-2 w-75"
                   :id="'phone'+idx"
                   :name="'phone'+idx"
                   v-model="numbers[idx].number"
                   placeholder="Enter phone number"
                   v-validate="{ required: true, regex: /^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]{9,}$/ }" data-vv-as="Number"
                   :class="{hasError:errors.has('phone'+idx)}" />
            <button type="button" @click="removeNumber(idx)" class="btn btn-danger btn-sm ml-3">Remove</button>
            <span class="alert-danger" v-if="errors.has('phone'+idx)">
                {{errors.first('phone'+idx)}}
            </span>
        </div>
        <div class="mt-2">
            <button type="button" class="btn btn-primary" @click="addPhoneNumber"> Add Another</button>
        </div>
    </div>
</template>



<script>
    import ContactService from '@/services/ContactService'
import { fail } from 'assert';

export default {
    name:'PhoneNumberList',
    props:{
        value:{
            type:Array,
            required:true
        },
        contactId: Number
    },
        watch: {
            numbers() {
                this.$emit('input', this.numbers);
            }
        },

    data(){
        return{
            numbers:this.value
        }
    },
        methods: {
            emitValidity(name) {
                if (this.errors.has(name))
                    this.$emit('phonesValid', false);
                else
                    this.$emit('phonesValid', true);
            },
            addPhoneNumber() {
                this.$validator.validateAll()                
                    .then(valid => {
                        if (valid) {
                            this.numbers.push({
                                id:0,
                                contactId: this.contactId,
                                number: ""
                            });
                            this.$emit('phonesValid', false);
                        }
                    });
             },
            removeNumber(idx) {
            var numberId = this.numbers[idx].id;
            if (numberId) {
                ContactService.deleteNumberForContact(this.contactId, numberId)
                    .then(res => {
                        this.numbers.splice(idx, 1);
                        this.$dialog.alert('Number was successfully removed',
                            {
                                backdropClose: true
                            }
                        );
                    })
                    .catch(err => console.log(err));
            } else {
                this.numbers.splice(idx, 1);
                this.$emit('phonesValid', true);
            }
        }
    }
}
</script>
