﻿<template>
    <div>
        <h2 class="card-title"> {{tagName}} list </h2>
        <contact-list :showTag=" false" :contacts="contacts"></contact-list>
    </div>
</template>

<script>
    import ContactList from '@/components/ContactList'
    import ContactService from '@/services/ContactService'
    export default {
        name: 'tag-contacts',
        data() {
            return {
                tagName: this.$route.params.tagName,
                contacts:null
            }
        },
        components: {
            ContactList
        },
        created() {
            this.fetchByTag(this.tagName);
        },
        methods: {
            fetchByTag(tag) {
                ContactService.getContactsByTag(tag)
                    .then(res => this.contacts = res.data)
                    .catch(err => console.log(err));
            }
        }

    }
</script>

