﻿<template>
    <div>
        <h2 class="card-title mb-5">
            Contact Tags
        </h2>
        <div v-for="(tag,idx) in tags"
            :key="idx"
            :class="{'selectedItem':idx==selectedIdx}"
            class="form-control hand d-inline-block mb-2 w-75"
            @click="selectItem(idx)">
                {{tag.name}}         
        </div>
        <div class="mt-2" v-show="pageMode=='initial'">
            <button type="button" class="btn btn-primary mr-4" @click="addTag"> Add </button>
            <button v-show="selectedIdx >= 0" type="button" class="btn btn-primary mr-4" @click="editTag"> Edit</button>
            <button v-show="selectedIdx >= 0" type="button" class="btn btn-primary mr-4" @click="deleteTag"> Delete</button>
            <router-link v-show="selectedIdx >= 0" :to="{name:'TagContacts', params:{ tagName:this.newName}}">
                <button type="button" class="btn btn-primary">List Contacts</button>
            </router-link>
        </div>
        <div class="mt-3" v-show="pageMode!='initial'">
            <span class="mt-2 d-block">{{actionMsg}}</span>
            <input v-validate="'required'" data-vv-as="Tag Name"
                   data-vv-validate-on="submit" name="newName"
                   type="text" class="form-control w-25 mt-2  mb-4" v-model="newName" />
            <div v-if="errors.has('newName')" class="alert-danger mb-4">
                {{ errors.first('newName') }}
            </div>
            <button @click="submit" type="button" class="btn btn-primary mr-4">Save</button>
            <button type="button" class="btn btn-primary mr-4" @click="resetPage">Cancel</button>
        </div>
    </div>
</template>



<script>
    import TagService from '@/services/TagService'


    export default {
        name: 'TagManagement',
        data() {
            return {
                pageMode: 'initial',
                selectedIdx: -1,
                newName: '',
                tags: null
            }
        },
        created() {
            this.fetchData();
        },
        computed: {
            actionMsg() {
                if (this.pageMode === 'Edit') {
                    return `Enter new name for ${this.newName} tag`
                }
                else {
                    return 'Enter name for new tag';
                }
            }
        },
        methods: {
            resetPage() {
                this.pageMode = 'initial';
                this.selectedIdx = -1;
                this.newName = '';
                this.errors.clear();
            },
            selectItem(idx) {
                this.resetPage();
                this.selectedIdx = idx;
                this.newName = this.tags[idx].name;

            },
            fetchData() {
                TagService.getTags()
                    .then(res => this.tags = res.data)
                    .catch(err => console.log(err));
            },
            addTag() {
                this.pageMode = 'add';
                this.newName = '';
                this.selectedIdx = -1;
            },
            editTag() {
                this.pageMode = 'edit';
            },
            submit() {
                this.$validator.validateAll()
                    .then((valid) => {
                        if (valid)
                            this.saveTag();
                    })
   
            },
            saveTag() {
                if (this.pageMode === 'edit') {
                    let tag = this.tags[this.selectedIdx];
                    tag.name = this.newName;
                    TagService.updateTag(tag)
                        .then(res => {
                            this.tags[this.selectedIdx].name = this.newName;
                            this.resetPage();
                        })
                        .catch(err => console.log(err));
                }
                else {
                    let tag = { id: 0, name: this.newName };
                    TagService.addTag(tag)
                        .then(res => {
                            this.tags.push(tag);
                            this.resetPage();
                        })
                        .catch(err => console.log(err));
                }
            },

            deleteTag() {
                let id = this.tags[this.selectedIdx].tagId;
                this.$dialog.confirm('Are you sure yuo want to delete this tag')
                    .then(dialog => TagService.deleteTag(id))
                    .then(res => this.tags.splice(this.selectedIdx, 1))
                    .catch(err => console.log(err))

            }
        }
    }
</script>
