#bodyWrapper {
    width: 1000px;
    margin-top: 30px;
}

.hasError {
border-color:red;
}

.selectedItem {
    background-color: lightgreen;
    color: white;
}

.w-10{
    width: 10%
}
.w-20 {
    width: 20%
}
.w-30 {
    width: 30%
}
.w-40 {
    width: 40%
}
.w-60 {
    width: 60%
}
.w-70 {
    width: 70%
}
.w-80 {
    width: 80%
}
.w-90 {
    width: 90%
}

.hand {
    cursor:pointer;
}

.form-row {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 5%;
}

/* bootstrap overrides*/

.navbar {

    width:1000px;
}