<template>
    <div id="app">
        <app-header></app-header>
        <div id="bodyWrapper" class="mx-auto">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import AppHeader from '@/components/AppHeader'

    export default {
        name: 'app',
        components: {
            AppHeader
        }
    };
</script>

<style>
</style>
